:root{
    --text-main-color:#f6fafb;
    --bg-m-color: #caab55ab;
    --text-secondary-color:#d49c6b;
    --bg-color:#68675e;
}

body{
    background-color: var(--bg-m-color) ;
}

/* Header */
.nav-header{
       background-color:var(--bg-color);
       border-radius: 6px;
}
.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;

    margin-left: auto;
    margin-right: auto;

    align-items: center;
}
.header-links{
    text-decoration: none;
    color:var(--text-main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-header-links{
    display: block;

    font-family: 'Playfair Display',
    serif;

    font-size: 20px;

    line-height: 1.1;
    letter-spacing: 0.02em;

    padding-top: 10px;
    padding-bottom: 10px;
}
.header-links:hover, .header-links:focus{
        color: var(--text-secondary-color);
}

/* Main */
/* .main{

} */
.main-img{
    position: relative;

    display: block;
}

.title-img{
    position:relative;

}